body {
    background-color: #f9f9f9;
}
.nav {
    background-color: white;
  }
  #map {
    margin-top: 5%;
    margin-bottom: 5%;
  }
  button {
    border: none;
    cursor: pointer;
  }
  button:focus {
    outline:0;
  }
  @font-face {
    font-family: "journal";
    src: url("journal.ttf");
  }

  #swift-head {
    font-family: "journal";
    color: red;
    background-color: #f7f7f7;
    font-size: 70px;
    
}
#event-head {
    /* font-family: "journal"; */
    color: white;
    background-color: Black;
    font-size: 55px;
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 10px;
}