.nav {
  background-color: #f7f7f7;
}

@media screen and (max-width: 540px) {
  .card {
    width: 75%;
    margin-left: 10vw;
    margin-top: 5vw;
  }

  .accept {
    margin-left: 10px !important;
  }
}

@media screen and (max-width: 1100px) {
  .accept {
    margin-left: 15px !important;
  }
}

#map {
  margin-top: 5%;
  margin-bottom: 5%;
}